<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{assets/images/favicon.ico}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Доктор </title>
</head>
<body>
<form class="form-signin mt-xl-0" method="get" action="/home-doktor">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <a class="navbar-brand" href="/home-doktor"> MEDWEB </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <a class="btn btn-primary btn-sm ml-3" href="/moi-termini">
                    <i class="fa fa-shopping-cart"></i> Мои термини
                </a>
                <a class="btn btn-primary btn-sm ml-3" href="/logout">
                    <i class="fa fa-shopping-cart"></i> Одјави се
                </a>
            </form>
        </div>
    </nav>
    <section class="jumbotron text-center">
        <div>
            <h3> Доктор почетна страна </h3>
        </div>
        <section class="jumbotron text-center">
            <div class="container">
                <h3 class="jumbotron-heading"> Најавен доктор:
                    <th:block th:if="${session.doktor != null}" th:text="${session.doktor.getEmail()}"></th:block>
                </h3>
            </div>
        </section>
        <a th:href="@{'/vnesi-termin/{id}' (id=${session.doktor.getCovek_id()})}" class="btn btn-primary btn-sm ml-3">
            <i class="fa fa-shopping-cart"> Внеси нов термин </i>
        </a>
    </section>
</form>
</body>
</html>
