<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> MedWeb </title>

    <link rel="shortcut icon" th:href="@{assets/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawsom-all.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}" />
</head>

<body>

    <!-- ################# Header Starts Here#######################--->
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 left-item">
                        <ul>
                            <li><i class="fas fa-envelope-square"></i>  medweb@medweb.com</li>
                            <li><i class="fas fa-phone-square"></i> +389 987 887 765</li>
                        </ul>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block right-item">
                        <ul>
                            <li><a><i class="fab fa-github"></i></a></li>
                            <li><a><i class="fab fa-google-plus-g"></i></a></li>
                            <li> <a><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a><i class="fab fa-twitter"></i></a></li>
                            <li> <a><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                        <img th:src="@{assets/images/logo-medweb.png}" alt="">

                       <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="/home">Почетна</a></li>
                            <li><a href="about_us.html">За нас</a></li>
                            <li><a href="services.html">Контакт</a></li>
                            <li><a href="news.html">Новости</a></li>
                            <li><a href="gallery.html">Ковид 19</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-2 d-none d-lg-block appoint">
                        <button class="btn btn-info">
                            <a href = "/login-doktor">
                                Најава на здраствено лице
                            </a>
                        </button>

                        <button class="btn btn-info">
                            <a href="/login-pacient">
                                Најава на пациент
                            </a>
                        </button>

                        <button class="btn btn-info">
                            <a href="/register">
                                Регистрирај се
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <!-- ################# Slider Starts Here#######################--->

    <div class="slider-detail">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <img class="d-block w-100" th:src="@{assets/images/slider/slider_1.jpg}" alt="First slide">
                    <div class="carousel-caption fvgb d-none d-md-block">
                        <h5 class="animated bounceInDown"> MedWeb </h5>
                        <p class="animated bounceInLeft">Платформа за онлине закажување на здраствени термини</p>
                         
                         <div class="row vbh">
                             <div class="btn btn-info animated bounceInUp">
                                 <a th:href="@{/login-pacient}"> Закажи Термин </a>
                             </div>
                         </div>
                    </div>
                </div>
                
                <div class="carousel-item active">
                    <img class="d-block w-100" th:src="@{assets/images/slider/slider_3.jpg}" alt="Third slide">
                     <div class="carousel-caption vdg-cur d-none d-md-block">
                        <h5 class="animated bounceInDown"> MedWeb </h5>
                        <p>Платформа за онлине закажување на здраствени термини</p>
                         
                         <div class="row vbh">
                             
                             <div class="btn btn-info animated bounceInUp"> Закажи Термин </div>
                         </div>
                    </div>
                </div>
                
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>




    <!-- ################# Footer Starts Here#######################--->


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        Med Web веб платформата служи за закажување на здравствени прегледи во државните болници во Македонија.
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">

                        Phone: +389 987 887 765 <br>
                        Email: <a href="mailto:info@medweb.com" class="">info@medweb.com</a><br>
                        Web: <a href="smart-eye.html" class="">www.medweb.com</a>
                    </address>

                </div>
            </div>
        </div>
        

    </footer>
    <div class="copy">
            <div class="container">
                <a href="https://www.smarteyeapps.com/">
                    2022 &copy; All Rights Reserved | Designed and Developed by Анита, Демет, Екатерина
                </a>
                
                <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
        </span>
            </div>

        </div>

</body>

<script th:src="@{assets/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js}"></script>
<script th:src="@{assets/js/script.js}"></script>


</html>