<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Најава </title>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" th:href="@{assets/images/favicon.ico}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <form class="form-signin mt-xl-5" method="post" action="/login-pacient" th:object = "${pacient}">
        <h2 class="form-signin-heading"> Најавете се </h2>
        <p>
            <label for="email" class="sr-only"> Емаил </label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="" th:field="*{email}">
        </p>
        <p>
            <label for="password" class="sr-only"> Лозинка </label>
            <input type="password" id="password" name="pass" class="form-control" placeholder="Password" required="" th:field="*{pass}">
        </p>

        <div th:if="${hasError}">
            <div th:text="${error}" class="text-danger"></div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit"> Најавете се </button>
    </form>
    <a th:href="@{/register}" class="btn btn-block btn-light"> Регистрирајте се тука </a>
</div>
</body>
</html>
