<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{assets/images/favicon.ico}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Регистрирај се </title>
</head>
<body>
<div class="container mt-5">
    <h3 align="justify"> </h3>
    <div class="card" style="width: 55rem; ">
        <div class="card-header text-center bg-info ">
            <h3> Регистрирај се </h3>
        </div>
        <div class="card-body">
            <form th:action="@{/save}" method="post" th:object="${pacient}">
                <div class="form-group">
                    <label for="ime"> Име </label>
                    <input type="text" class="form-control" id="ime" name="ime" aria-describedby="emailHelp" required th:field="*{ime}">
                </div>
                <div class="form-group">
                    <label for="prezime"> Презиме </label>
                    <input type="text" class="form-control" id="prezime" name="prezime" aria-describedby="emailHelp" required th:field="*{prezime}">
                </div>
                <div class="form-group">
                    <label for="embg"> ЕМБГ </label>
                    <input type="text" class="form-control" id="embg" name="embg" aria-describedby="emailHelp" required th:field="*{embg}">
                </div>
                <div class="form-group">
                    <label for="email"> Емаил </label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required th:field="*{email}">
                </div>
                <div class="form-group">
                    <label for="pass"> Лозинка </label>
                    <input type="password" class="form-control" id="pass" name="pass" required th:field="*{pass}">
                </div>
                <button type="submit" class="btn btn-primary"> Потврди </button>
            </form>
            <a href="/home" class="btn btn-block btn-light"> Назад кон почетна страна </a>
        </div>
    </div>
</div>
</body>
</html>
