<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{assets/images/favicon.ico}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title> Резервација </title>
</head>
<body>
<form class="form-signin mt-xl-0">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <a class="navbar-brand" href="/home-pacient"> MEDWEB </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarsExampleDefault"
                            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <a class="btn btn-primary btn-sm ml-3" href="/moi-upati">
                    <i class="fa fa-shopping-cart"></i> Мои Упати
                </a>
                <a class="btn btn-primary btn-sm ml-3" href="/logout">
                    <i class="fa fa-shopping-cart"></i> Одјави се
                </a>
            </form>
        </div>
        </div>
    </nav>
    <section class="jumbotron text-center">
        <div class="container">
            <h3 class="jumbotron-heading"> Трансакција за пациент:
                <th:block th:if="${session.pacient != null}" th:text="${session.pacient.getEmail()}"></th:block>
            </h3>
        </div>
    </section>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <h4 class="text-center"> Податоци за термин и упат </h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"> Упат ИД</th>
                            <th scope="col"> Термин ИД </th>
                            <th scope="col"> Доктор ИД </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${upat.getUpat_id()}"></td>
                            <td th:text="${termin.getTermin_id()}"></td>
                            <td th:text="${termin.getDoktor_id()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="background-color: #e9ecef; padding: 10px">
            <span>
                <h6 style="font-style: italic"> *За да ја потврдите резервацијата морате да уплатите сума од 50 денари,
                    инаку ќе биде невалидна!
                </h6>
            </span>
            <span class="mt-auto">
                <form th:action="@{'/validiraj/rezervacija/{id}' (id = ${rezervacija.getRezervacija_id()})}">
                    <button type="submit" class="btn btn-primary"> Валидирајте ја резервацијата </button>
                </form>
            </span>
        </div>
    </div>
</form>
</body>
</html>
