<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{assets/images/favicon.ico}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title> Трансакција </title>
</head>
<body>
<form class="form-signin mt-xl-0">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <a class="navbar-brand" href="/home-pacient"> MEDWEB </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarsExampleDefault"
                            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <a class="btn btn-primary btn-sm ml-3" href="/moi-upati">
                    <i class="fa fa-shopping-cart"></i> Мои Упати
                </a>
                <a class="btn btn-primary btn-sm ml-3" href="/logout">
                    <i class="fa fa-shopping-cart"></i> Одјави се
                </a>
            </form>
        </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="card" style="width: 55rem; ">
            <div class="card-header text-center bg-info ">
                <h3> Податоци за трансакција </h3>
            </div>
            <div class="card-body">
                <form th:action="@{'/validiraj/rezervacija/{id}' (id = ${rezervacija.getRezervacija_id()})}"
                      th:method="POST" name="fill">
                    <div class="form-group">
                        <label for="namesurname"> Име и Презиме </label>
                        <input type="text" class="form-control" id="namesurname" name="namesurname" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="numacc"> Број на сметка </label>
                        <input type="text" class="form-control" id="numacc" name="numacc" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="cvc"> CVC код </label>
                        <input type="text" class="form-control" id="cvc" name="cvc" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="date"> Датум важност </label>
                        <input type="date" class="form-control" id="date" name="date" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                    </div>
                    <script>
                        function required()
                        {
                            var field1 = document.forms["fill"]["namesurname"].value;
                            var field2 = document.forms["fill"]["numacc"].value;
                            var field3 = document.forms["fill"]["cvc"].value;
                            var field4 = document.forms["fill"]["date"].value;
                            if (field1 == "" || field2 == "" || field3 == "" || field4 == "")
                            {
                                alert("Пополнете ги сите полиња!");
                                return false;
                            }
                            else
                            {
                                alert("Успешна трансакција!");
                                return true;
                            }
                        }
                    </script>
                    <button type="submit" class="btn btn-primary" onclick="required()"> Потврди </button>
                </form>
            </div>
        </div>
    </div>
</form>
</body>
</html>
