<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{assets/images/favicon.ico}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title> Внеси Термин </title>
</head>
<body>
<form class="form-signin mt-xl-0">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <a class="navbar-brand" href="/home-doktor"> MEDWEB </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <a class="btn btn-primary btn-sm ml-3" href="/moi-termini">
                    <i class="fa fa-shopping-cart"></i> Мои термини
                </a>
                <a class="btn btn-primary btn-sm ml-3" href="/logout">
                    <i class="fa fa-shopping-cart"></i> Одјави се
                </a>
            </form>
        </div>
    </nav>

    <div class="container mt-5">
        <h3 align="justify"> </h3>
        <div class="card" style="width: 55rem; ">
            <div class="card-header text-center bg-info ">
                <h5> Внеси Термин </h5>
            </div>
            <div class="card-body">

                <form th:action="@{/save-termin}" method="post"> <!--  -->
                    <div class="form-group">
                        <label for="dateField"> Датум и време </label>
                        <input type="datetime-local" placeholder="yyyy-mm-ddThh:mm" class="form-control" id="dateField" aria-describedby="emailHelp" th:name="vreme">
                    </div>
                    <button type="submit" class="btn btn-primary"> Потврди </button>
                </form>
            </div>
        </div>
    </div>
</form>
</body>
</html>
